<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace="com.itwillbs.mappers.boardMapper"  -->
<!--        => boardMapper 파일 => xml 파일이름  -->
<mapper namespace="com.itwillbs.mappers.EmpMapper">

	<select id="userCheck" resultType="com.itwillbs.domain.EmployeeDTO">
		select * from employee
		where emp_num = #{emp_num} and emp_pw = #{emp_pw}
	</select>

	<select id="getStoreList" resultType="com.itwillbs.domain.StoreDTO"> 
 		select * from store 
 	</select>
 	
 	<select id="getItemList" resultType="com.itwillbs.domain.ItemDTO"> 
 		select * from item 
 	</select>
 	
 	<select id="searchItemList" resultType="com.itwillbs.domain.ItemDTO">
	select item_num, item_name, item_type, item_price, item_state, item_note from item
		<where>
		<if test="item_type != 100">
		item_type = #{item_type}
			<if test="item_name != null"> and item_name like concat('%', #{item_name}, '%')
			</if>
			<if test="item_price != 0"> and item_price = #{item_price}
			</if>
		</if>
		<if test="item_type == 100">
			<if test="item_name != null"> item_name like concat('%', #{item_name}, '%')
			</if>
			<if test="item_price != 0"> and item_price = #{item_price}
			</if>
		</if>
		</where>
		order by item_num desc
	</select>
 	
 	<select id="getOrderList" resultType="com.itwillbs.domain.OrderDTO"> 
 		select o.od_num, s.name, i.item_name, o.od_amount, o.od_time, o.received_not  
 		from `order` o join store s on o.num = s.num 
 		join item i on o.item_num = i.item_num;
 	</select>
 	
 	<select id="getShipmentList" resultType="com.itwillbs.domain.ReceiveDTO"> 
 		select r.od_num, s.name, i.item_name, r.rc_amount, i.item_price, r.rc_time
 		from receive r join store s on r.num = s.num
 		join item i on r.item_num = i.item_num
 	</select>
 	
 	<select id="getEmpList" resultType="com.itwillbs.domain.EmployeeDTO"> 
 		select * from employee 
 	</select>

</mapper>


