<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace="com.itwillbs.mappers.boardMapper"  -->
<!--        => boardMapper 파일 => xml 파일이름  -->
<mapper namespace="com.itwillbs.mappers.StoreMapper">


	<select id="userCheck" resultType="com.itwillbs.domain.StoreDTO">
		select * from store
		where num = #{num} and pw = #{pw}
	</select>
	
	
	<select id="getItemList" resultType="com.itwillbs.domain.ItemDTO"> 
 		select item_num, item_name, item_type, item_price, item_state, item_note
 		from item 
 	</select>
 	
 	
 	<select id="searchItemList" resultType="com.itwillbs.domain.ItemDTO">
		select item_num, item_name, item_type, item_price, item_state, item_note from item
		<where>
			<if test="item_type != 100">
				item_type = #{item_type}
				<if test="item_name != null">
					and item_name like concat('%', #{item_name}, '%')
				</if>
				<if test="item_maxPrice != 0">
					and item_price between #{item_minPrice} and #{item_maxPrice}
				</if>
				<if test="item_minPrice != 0 and item_maxPrice == 0">
					and item_price >= #{item_minPrice}
				</if>
			</if>
			<if test="item_type == 100">
				<if test="item_name != null">
					item_name like concat('%', #{item_name}, '%')
				</if>
				<if test="item_maxPrice != 0">
					and item_price between #{item_minPrice} and #{item_maxPrice}
				</if>
				<if test="item_minPrice != 0 and item_maxPrice == 0">
					and item_price >= #{item_minPrice}
				</if>
			</if>
		</where>
	</select>


	<select id="getStockList" resultType="com.itwillbs.domain.StockDTO"> 
 		select s.stock_num, t.item_type, t.item_name, t.item_price, s.amount, t.item_state
 		from stock s join item t on s.item_num = t.item_num
 	</select>
 	
 	
 	<select id="searchStockList" resultType="com.itwillbs.domain.StockDTO">
		select s.stock_num, t.item_type, t.item_name, t.item_price, s.amount, t.item_state
 		from stock s join item t on s.item_num = t.item_num
		<where>
			<if test="item_type != 100">
				t.item_type = #{item_type}
			</if>	
			<if test="item_maxPrice != 0">
    			and t.item_price between #{item_minPrice} and #{item_maxPrice}
    		</if>
			<if test="item_minPrice != 0 and item_maxPrice == 0">
				and t.item_price >= #{item_minPrice}
			</if>
			<if test="item_name != null">
				and t.item_name like concat('%', #{item_name}, '%')
			</if>
		</where>
	</select>


	<select id="getOrderList" resultType="com.itwillbs.domain.OrderDTO"> 
 		select o.od_num,t.item_name, o.od_amount, t.item_price, o.od_time, o.received_not, s.name, o.shipment_not
 		from `order` o join item t on o.item_num = t.item_num
 		join store s on o.num = s.num
 	</select>
 	
 	
 	<select id="searchOrderList" resultType="com.itwillbs.domain.OrderDTO">
 		select o.od_num, t.item_name, t.item_price, o.od_time, o.received_not
 		from `order` o join item t on o.item_num = t.item_num
 		<where>
 			<if test="item_name != ''">
     			t.item_name like concat('%', #{item_name}, '%')
    		</if>
    		<if test="item_maxPrice != 0">
    			and t.item_price between #{item_minPrice} and #{item_maxPrice}
    		</if>
			<if test="item_minPrice != 0 and item_maxPrice == 0">
				and t.item_price >= #{item_minPrice}
			</if>
    		<if test="od_time != null">
      			and date(o.od_time) = #{od_time}
    		</if>
    		<if test="received_not != 100">
    			and o.received_not = #{received_not}
    		</if>
 		</where>
 	</select>
 	
 	
 	<select id="getReceiveList" resultType="com.itwillbs.domain.ReceiveDTO"> 
		select r.od_num, t.item_name, r.rc_amount, t.item_price, r.rc_time, r.pay
		from receive r join item t on r.item_num = t.item_num
 	</select>
 	
 	
 	<select id="searchReceiveList" resultType="com.itwillbs.domain.ReceiveDTO">
  		select r.od_num, t.item_name, r.rc_amount, t.item_price, r.rc_time, r.pay
  		from receive r join item t on r.item_num = t.item_num
  		<where>
    		<if test="item_name != ''">
     			t.item_name like concat('%', #{item_name}, '%')
    		</if>
    		<if test="item_maxPrice != 0">
    			and t.item_price between #{item_minPrice} and #{item_maxPrice}
    		</if>
			<if test="item_minPrice != 0 and item_maxPrice == 0">
				and t.item_price >= #{item_minPrice}
			</if>
    		<if test="rc_time != null">
      			and date(r.rc_time) = #{rc_time}
    		</if>
  		</where>
	</select>


 	<select id="getSomoList" resultType="com.itwillbs.domain.ResultDTO"> 
		select r.rs_date, i.item_name, r.consume, i.item_price
		from result r join stock s on r.stock_num = s.stock_num
		join item i on s.item_num = i.item_num
		order by r.rs_date; 
 	</select>
 	
 	<insert id="stockInsert">
 		insert into stock(num, item_num, amount, stock_note)
 		values(#{num}, #{item_num}, #{amount}, #{stock_note})
 	</insert>
 	
 	<select id="getItemNum" resultType="java.lang.Integer">
 		select item_num
 		from item
 		where item_name like concat('%', #{item_name}, '%')
 	</select>
 	
 	<select id="getStock" resultType="com.itwillbs.domain.StockDTO">
 		select a.stock_num, a.item_num, a.amount, a.stock_note, a.item_num, b.item_name, b.item_price, b.item_type
 		from stock a join item b
 		on a.item_num = b.item_num
 		where stock_num = #{stock_num}
 	</select>
 	
 	<select id="getOrder" resultType="com.itwillbs.domain.OrderDTO">
 		select o.od_num, o.num, o.od_amount, o.od_note, i.item_type, i.item_name, i.item_price, o.od_time, s.name, o.received_not, o.shipment_not
 		from `order` o join item i
 		on o.item_num = i.item_num
 		join store s on o.num = s.num
 		where o.od_num = #{od_num}
 	</select>
 	
 	<select id="getItem" resultType="com.itwillbs.domain.ItemDTO">
 		select * from item
 		where item_num = #{item_num}
 	</select>
 	
 	<insert id="receiveInsert">
 		insert into receive(od_num, num, item_num, rc_amount, rc_note)
 		values(#{od_num}, #{num}, #{item_num}, #{rc_amount}, #{rc_note})
 	</insert>
 	
 	<insert id="orderInsert">
 		insert into `order`(num, item_num, od_amount, od_note)
 		values(#{num}, #{item_num}, #{od_amount}, #{od_note}) 
 	</insert>
 	
 	<update id="orderUpdate">
 		update `order`
 		set od_amount = #{od_amount}, od_note = #{od_note}
 		where od_num = #{od_num}
 	</update>
 	
 	<update id="receiveUpdate">
 		update receive
 		set rc_amount = #{rc_amount}, rc_note = #{rc_note}
 		where od_num = #{od_num}
 	</update>
 	
 	<select id="getReceive" resultType="com.itwillbs.domain.ReceiveDTO">
 		select a.od_num, a.num, a.item_num, a.rc_amount, a.rc_note, b.item_type, b.item_price, b.item_name, c.name, a.pay , a.rc_time
 		from receive a join item b
 		on a.item_num = b.item_num
 		join store c on a.num = c.num
 		where od_num = #{od_num}
 	</select>


	<select id="searchSomoList" resultType="com.itwillbs.domain.ResultDTO">
 		select r.rs_date, i.item_name, r.consume, i.item_price
		from result r join stock s on r.stock_num = s.stock_num
		join item i on s.item_num = i.item_num
		<where>
 			<if test="rs_date != null">
 				r.rs_date = #{rs_date}
 			</if>
 		</where>
		order by r.rs_date;
 	</select>


    <select id="getPanmeList" resultType="com.itwillbs.domain.ResultDTO"> 
	    select r.rs_date , p.prod_name, r.sales, p.prod_price
        from result r join product p on r.prod_num = p.prod_num
        order by r.rs_date; 
	</select>

 	
 	<select id="searchPanmeList" resultType="com.itwillbs.domain.ResultDTO">
 		select r.rs_date , p.prod_name, r.sales, p.prod_price
        from result r join product p on r.prod_num = p.prod_num
        <where>
 			<if test="rs_date != null">
 				r.rs_date = #{rs_date}
 			</if>
 		</where>
        order by r.rs_date; 
 	</select>
 	
 	
 	<select id="getResultList" resultType="com.itwillbs.domain.ResultDTO"> 
	select r.rs_date "rs_date", sum((r.sales*p.prod_price)) "maechul", sum((r.consume*i.item_price)) "jichul", (ifnull(sum((r.sales*p.prod_price)),0)-ifnull(sum((r.consume*i.item_price)),0)) "income"
		from result r left join product p
		on r.prod_num = p.prod_num
		left join stock s on r.stock_num = s.stock_num
		left join item i on s.item_num = i.item_num
		where r.num = 1
		group by r.rs_date;
 	</select>
 	
 	
 	<select id="searchResultList" resultType="com.itwillbs.domain.ResultDTO">
 		select rs_num, rs_date, sales, consume
 		from result
 		<where>
 			<if test="rs_date != null">
 				rs_date = #{rs_date}
 			</if>
 		</where>
 	</select>


</mapper>
